.body {
       background-color: black !important;
}







.container {
       padding: 150px;
       background-image: url(src/r.png);
       color: black;
       
}

.navbarnavbar-expand-lgbg-light {
       background-color: rgb(157, 255, 0);
}


.text {
       display: flex;
       justify-content: center;
       font-size: 4rem;
       margin-top: -20vh;
       padding-bottom: 60px;
       color: whitesmoke;
}